<app-menu-title></app-menu-title>

<div class="container-articles">
    <div class="articles-main">
        <app-big-card photoCover="../../../assets/placeholder.png"
            cardTitle="MISTER M MODERNO"
            cardDescription="Miste M é o novo moderno da historia..."
            id="1"></app-big-card>
    </div>
    <div class="articles-others">
        <app-small-card photoCover="../../../assets/disney1.png"
            cardTitle="Versão antiga do Angular"
            id="2"></app-small-card>
        <app-small-card photoCover="../../../assets/disney2.png"
            cardTitle="Versão nova do Angular"
            id="3"></app-small-card>
        <app-small-card photoCover="../../../assets/disney3.png"
            cardTitle="Versão duradoura do Angular"
            id="4"></app-small-card>
    </div>
</div>