<header>
    <app-menu-bar></app-menu-bar>
</header>

<app-menu-title></app-menu-title>

<div class="container-articles">
    <div class="articles-main">
        <app-big-card photoCover="../../../assets/placeholder.png"
            cardTitle="MISTER M MODERNO"
            cardDescription="Miste M é o novo moderno da historia..."></app-big-card>
    </div>
    <div class="articles-others">
        <app-small-card photoCover="../../../assets/disney1.png"
            cardTitle="Versão nova do Angular"></app-small-card>
        <app-small-card></app-small-card>
        <app-small-card></app-small-card>
    </div>
</div>