<div class="container-big-card">
    <div class="big-card-photo">
        <img src="../../../assets/placeholder.png" 
            alt="placeholder"
            height="200px">
        
    </div>    
    <div class="big-card-title">
        <h1><a href="#">Versão nova do Angular</a></h1>
    </div>    
    <div class="big-card-description">
        <p>
            <a href="#">
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
            </a>
        </p>
    </div>    
</div>

